# Data Types

In [2]:
import numpy as np
import pandas as pd

## Categorical
The category data type looks and behaves like a string, but internally it's represented by an array of integers. This allows data to be sorted in a custom order and to be more efficiently stored

In [3]:
df = pd.DataFrame({
    'month': ['May', 'October', 'January', 'July', 'September'],
    'value': np.random.randint(0, 100, size=5)
})
df

       month  value
0        May     37
1    October     15
2    January     37
3       July     92
4  September     49

Convert a column to a Categorical with a specific order

In [4]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [5]:
df['month'] = pd.Categorical(df['month'], categories=months, ordered=True)

In [6]:
df['month'].dtype

CategoricalDtype(categories=['January', 'February', 'March', 'April', 'May', 'June',
                  'July', 'August', 'September', 'October', 'November',
                  'December'],
, ordered=True)

Convert category to string and concatenate it..

In [8]:
df.index.astype(str) + '-' + df['month'].astype(str)

0          0-May
1      1-October
2      2-January
3         3-July
4    4-September
dtype: object